.atable{font-family:Arial;font-size:14px;color:#333;display:block;clear:both;margin-top:10px;margin-bottom:80px;}
.atable a{color:#337ab7;text-decoration:none;}
.atable table{width:100%;border-collapse: collapse;}
.atable table>thead>tr>th, .atable table>tbody>tr>th, .atable table>tfoot>tr>th{
	padding: 8px;
	line-height: 1.37;
	vertical-align: bottom;
	text-align: left;
}
.atable table>thead>tr>td, .atable table>tbody>tr>td, .atable table>tfoot>tr>td{
	padding: 8px;
	line-height: 1.37;
	vertical-align: top;
}
.atable table>thead>tr>th {
	border-bottom: 2px solid #ddd;
}
.atable table>tbody>tr>td {
	border-top: 1px solid #ddd;
}

.atable .dtatable .table, .atable .jdtatable .table{margin-bottom:0px;}
.atable .atablepreloader{
	display:none;
	position: absolute;
	width: 200px;
	margin-top: 120px;
	margin-left: -100px;
	left: 50%;
	background: #337AB7;
	color:#ffffff;
	padding: 15px;
	text-align: center;
	font-weight: bold;
	border: 3px solid #337AB7;
	border-radius: 3px;
	z-index:9;
}
.atable .findfield{
	float:right;
}
.atable .paggingfield{
	margin:0px 5px;
	float:right;
}
.atable .paggingfield .pagination{
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}
.atable .paggingfield .pagination>ul{list-style-type: disc;}
.atable .paggingfield .pagination>li{display: inline;}
.atable .paggingfield .pagination>li:first-child>a{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.atable .paggingfield .pagination>li:last-child>a{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.atable .paggingfield .pagination>.active>a{
	color: #fff;
	cursor: default;
	background-color: #337ab7;
	border-color: #337ab7;
}
.atable .paggingfield .pagination>li>a{
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}
.atable .icon-chevron-up:before{
	content:'';
	position:relative;
	top: -13px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;

	border-bottom: 10px solid #337ab7;
}
.atable .icon-chevron-down:before{
	content:'';
	position:relative;
	top: 14px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;

	border-top: 10px solid #337ab7;
}
.atable .datainfo{
	left:0px;
	display:block;clear:both;float:left;
	right:0px;margin:20px 5px;position:relative;padding:10px 5px;
}
.atable .warningdb{
	position:absolute;
	width:100%;
	padding:25px;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	background:#eee;
}
/*.atable table tr td:first-child{
    width:1%;
    white-space:nowrap;
}*/
.atable table caption {
	color:#000;
	font-size: 1.5em;
	text-align: center;
}
.atable .btn{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.atable .btn-sm {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
.atable .btn-xs {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
.atable .btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.atable .btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}
.atable .btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}

.atable .form-control {
	display: block;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 4px;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	transition-property: border-color, box-shadow;
	transition-duration: 0.15s, 0.15s;
	transition-timing-function: ease-in-out, ease-in-out;
	transition-delay: 0s, 0s;
}
.atable .colhide{
	display:none;
	position: absolute;
	z-index: 2;
	margin-top: -115px;
	margin-left: 20px;
	background: #fff;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px #333;
}
@media screen and (max-width: 550px) {
	.atable table{
  		border-collapse: collapse;
		table-layout: fixed;
		border: 0;
	}
	.atable table caption {
		font-size: 1.3em;
	}
	.atable table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	.atable table tr {
		border-bottom: 3px solid #ddd;
		display: block;
		margin-bottom: .625em;
	}
	.atable table td {
		border-top: 0px solid #ddd;
		display: block;
		font-size: .8em;
		text-align: right !important;
	}
	.atable table td:before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
	}
	.atable table td:last-child {
		border-bottom: 0;
	}
	.atable .paggingfield {
		margin: 40px 5px;
	}
	.atable .paggingfield .pagination>li>a, .pagination>li>span {
		padding: 4px 5px;
	}
	.atable .paggingfield .pagination .gapdot {
		padding: 4px 4px;
	}
}
/** Atable v4 Copyright @ 2018 Hangsbreaker **/
